#nav{
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80px;
}

#list{
    display: flex;
    gap: 50px;
    list-style: none;
} 

p{
text-align: center;
}
#list li a{
    color: red;
    text-decoration: none;
}