#game{
  color: black;
  background-color: blueviolet;
  font-size: 50px;
  text-align: center; 
}
.Answer{
    color: blueviolet;
    background-color: rgb(255, 255, 255);
}#FavoritePlayer{
    color:rgb(28, 148, 28);
    background-color: rgb(235, 228, 5);
    font-size: 28px;}


    button{
      background-color: rgb(58, 161, 61);
border: 2px solid rgb(40, 166, 42);
border-radius: 45px;
padding: 15px;
}

button:hover{
    background-color: rgb(73, 4, 246);
    border: 2px solid rgb(223, 216, 223);
    border-radius: 45px;
    padding: 15px;
    }

    a{
       color: yellow}
    
    